<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="../../frontend/assets/css/style.css">
    <%- include('includes/nav.ejs') %>

        <div class="cont">
            <div class="card cardo" style="width: 18rem;">
                <img src="../../frontend/assets/img/robotFace.png" class="card-img-top" alt="img">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=user.nome%>
                    </h5>
                    <p class="card-text">Minha Agenda</p>
                    <a href="#" class="btn btn-primary">CONTATOS</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span>Nome: </span>
                        <%=user.nome%>
                    </li>
                    <li class="list-group-item"><span>Sobrenome: </span>
                        <%=user.sobrenome%>
                    </li>
                    <li class="list-group-item"><span>Idade: </span>
                        <%=user.idade%>
                    </li>
                    <li class="list-group-item"><span>Sexo: </span>
                        <%=user.sexo%>
                    </li>
                    <li class="list-group-item"><span>E-mail: </span>
                        <a class="ema"  href="mailto:<%=user.email%>"><%=user.email%></a>  
                    </li>
                </ul>
            </div>
        </div>
        <%- include('includes/footer') %>