<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="../../frontend/assets/css/style.css">
    <%- include('includes/nav.ejs') %>

        <div class="cont">
            <div class="card cardo" style="width: 18rem; border:3px double  #e52bcb;">
                <%if(!src){%>
                    <img src="http://localhost:3000/images/robotFace.png" alt="img">
                    <%}else{%>
                        <img class="ts" src="http://localhost:3000/<%=src%>" alt="img">
                        <%}%>
            </div>


            <div class="card corpo" style="width: 18rem;border: solid 2px #e52bcb;">
                <ul class="list-group list-group-flush">
                    <li style="color:#e52bcb; background-color:#323949;" class="list-group-item"><span
                            style="color: #ff79c6;">Nome: </span>
                        <%=user.nome%>
                    </li>
                    <li style="color:#e52bcb;background-color:#323949;" class="list-group-item"><span
                            style="color: #ff79c6;">Sobrenome: </span>
                        <%=user.sobrenome%>
                    </li>
                    <li style="color:#e52bcb;background-color:#323949;" class="list-group-item"><span
                            style="color: #ff79c6;">Idade: </span>
                        <%=user.idade%> anos
                    </li>
                    <li style="color:#e52bcb;background-color:#323949;" class="list-group-item"><span
                            style="color: #ff79c6;">Sexo: </span>
                        <%=user.sexo%>
                    </li>
                    <li style="background-color:#323949;" class="list-group-item"><span style="color: #ff79c6;">E-mail:
                        </span>
                        <a style="color:#e52bcb;" href="mailto:<%=user.email%>"> &nbsp;
                            <%=user.email%>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="d-flex justify-content-around">
                <a href="/" style="margin: 12px 30px auto auto;" class="btn btn-primary ">Contatos</a>
                <a href="/perfil/indexEdit" class="editar btn btn-primary"
                    style="margin: 12.9px auto auto 10px;">Editar</a>
            </div>
        </div>
        <%- include('includes/footer') %>