<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="../../frontend/assets/css/style.css">
    <%- include('includes/nav.ejs') %>

        <div class="cont">
            <form class="form-perfil" action="/perfil/register?_csrf=<%= csrfToken%> " method="POST"
                enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                <div class="card cardo" style="width: 25rem; border:3px double  #e52bcb;">
                    <%if(!src){%>
                        <img src="  http://localhost:3000/images/robotFace.png" id="defaultPhoto" alt="">
                        <%}else{%>
                            <img src="http://localhost:3000/<%=src%>" style="background-color: black;" id="photo"
                                alt="img">
                            <%}%>

                </div>
                <div class="d-flex justify-content-center" style="margin: 0px auto 10px auto">
                    <label class="btn btn-primary" style="cursor: pointer;" for="fupload"
                        class="control-label label-bordered">Selecionar Imagem</label>
                    <input hidden id="fupload" class="fo" type="file" name="img">
                </div>
                <div id="tulkas"></div>
                <div class="card" style="width: 25rem; border: solid 2px #e52bcb; ">
                    <ul class="list-group list-group-flush camposPerfil">
                        <li style="color:#741f68;padding-right: 10px; background-color: #44475a;"
                            class="list-group-item ">
                            <div class="d-flex align-items-center ">
                                <span class="ms-1 mr-auto p-2" style="color:#ff79c6">Nome:</span>
                                <input style="color:#e52bcb;margin-left: 45px;width: 20em;  background-color:#323949;"
                                    value="<%= user.nome %>" type="text" class="form-control form-text" name="nome">
                            </div>
                        </li>
                        <li style="color:#741f68;padding-right: 10px;  background-color: #44475a;"
                            class="list-group-item ">
                            <div class="d-flex align-items-center  justify-content-between">
                                <span class="mr-auto p-2" style="color:#ff79c6">Sobrenome:</span>
                                <input style="color:#e52bcb;margin-left: 5px; width: 20em;  background-color:#323949;"
                                    value="<%= user.sobrenome %>" type="text" class="form-control form-text mr-auto p-2"
                                    name="sobrenome">
                            </div>
                        </li>
                        <li style="color:#741f68;padding-right: 10px;  background-color: #44475a;"
                            class="list-group-item ">
                            <div class="d-flex align-items-center ">
                                <span class="mr-auto p-2" style="color:#ff79c6">Idade:</span>
                                <input style="color:#e52bcb;margin-left: 50px;width: 20em;  background-color:#323949;"
                                    value="<%= user.idade %>" max="130" min="13" type="number"
                                    class="form-control form-text mr-auto p-2 " name="idade">
                            </div>
                        </li>
                        <li style="color:#741f68;padding-right: 10px;  background-color: #44475a;"
                            class="list-group-item ">
                            <div class="d-flex align-items-center  ">
                                <span class="mr-auto p-2" style="color:#ff79c6">Email:</span>
                                <input style="color:#e52bcb;margin-left: 50px;width: 20em;  background-color:#323949;"
                                    value="<%= user.email %>" type="email" class="form-control form-text mr-auto p-2"
                                    name="email">
                            </div>

                        </li>
                        <li style="color:#741f68;padding-right: 13px; border: 0px solid #e52bcb;  background-color: #44475a;    "
                            class="list-group-item ">
                            <div class="d-flex align-items-center">
                                <span class="mr-auto p-2" style="color:#ff79c6">Sexo: </span>
                                <select style="color:#e52bcb; background-color:#323949; " name="sexo"
                                    class="form-select" aria-label="Default select example">
                                    <%if(user.sexo==='Masculino' ){%>
                                        <option selected>
                                            <%=user.sexo%>
                                        </option>
                                        <option value="Feminino">Feminino</option>
                                        <option value="Omitir">Omitir</option>

                                        <%}else if (user.sexo==='Feminino' ){%>
                                            <option selected>
                                                <%=user.sexo%>
                                            </option>
                                            <option value="Masculino">Masculino</option>
                                            <option value="Omitir">Omitir</option>
                                            <%} else{ %>
                                                <option selected>
                                                    <%=user.sexo%>
                                                </option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Feminino">Feminino</option>
                                                <%}%>

                                </select>
                            </div>

                        </li>
                    </ul>



                </div>
                <div class="d-flex justify-content-around" style="width: 25rem; margin:14px auto;">
                    <a href="/perfil/index" style="cursor: pointer;" class="btn btn-primary">Voltar</a>
                    <button type="submit" class="btn btn-primary">Gravar</button>
            </form>
            <form class="form-deletar" action="/perfil/delete" method="POST">
                <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                <button type="submit" class="btn btn-primary">Excluir</button>
            </form>

        </div>

        </div>
        <%- include('includes/footer') %>