<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="../../frontend/assets/css/style.css">
    <%- include('includes/nav.ejs') %>

        <div class="cont">
            <div class="card cardo" style="width: 18rem;">
                <!-- http://localhost:3000/images/robotFace.png -->
                <%if(!src){%>
                    <img src="http://localhost:3000/images/robotFace.png" alt="">
                    <%}else{%>
                        <img src="http://localhost:3000/<%=src%>" class="card-img-top" alt="img">
                        <%}%>
                            <!-- http://localhost:3000/uploads/1712336927017.png -->
                            <div class="card-body">
                                <h5 style="color:#741f68" class="card-title">
                                    <%=user.nome%>
                                    <a href="/perfil/indexEdit"><label class="btn btn-primary"
                                        style="cursor: pointer;"
                                        class="control-label label-bordered">Editar</label></a>
                                </h5>
                                <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                                <div class="form-group">

                                   
                                </div>
                            </div>
            </div>
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li style="color:#741f68" class="list-group-item"><span style="color: #e52bcb;">Nome: </span>
                        <%=user.nome%>
                    </li>
                    <li style="color:#741f68" class="list-group-item"><span style="color: #e52bcb;">Sobrenome: </span>
                        <%=user.sobrenome%>
                    </li>
                    <li style="color:#741f68" class="list-group-item"><span style="color: #e52bcb;">Idade: </span>
                        <%=user.idade%> anos
                    </li>
                    <li style="color:#741f68" class="list-group-item"><span style="color: #e52bcb;">Sexo: </span>
                        <%=user.sexo%>
                    </li>
                    <li class="list-group-item"><span style="color: #e52bcb;">E-mail: </span>
                        <a style="color:#741f68" href="mailto:<%=user.email%>"> &nbsp;
                            <%=user.email%>
                        </a>
                    </li>
                </ul>
                <a href="/" class="btn btn-primary">CONTATOS</a>

            </div>
        </div>
        <%- include('includes/footer') %>