<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="../../frontend/assets/css/style.css">
    <%- include('includes/nav.ejs') %>

        <div class="cont">
            <div class="card cardo" style="width: 18rem;">
                <!-- http://localhost:3000/images/robotFace.png -->
                <%if(!src){%>
                    <img src="  http://localhost:3000/images/robotFace.png" alt="">
                    <%}else{%>
                        <img src="http://localhost:3000/<%=src%>" cylass="card-img-top" alt="img">
                        <%}%>
                            <!-- http://localhost:3000/uploads/1712336927017.png -->
                            <div class="card-body">
                                <h5 style="color:#741f68" class="card-title">
                                    <%=user.nome%>
                                </h5>
                                <form action="/perfil/register?_csrf=<%= csrfToken%> " method="POST"
                                    enctype="multipart/form-data">
                                    <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                                    <div class="form-group">
                                        <label class="btn btn-primary" style="cursor: pointer;" for="fupload"
                                            class="control-label label-bordered">Selecionar Imagem</label>
                                        <input hidden id="fupload" type="file" name="img">
                                        <input class="btn btn-primary" type="submit" value="Upload">
                                    </div>
                                </form>
                            </div>
            </div>
            <div class="card" style="width: 18rem;">
                <form action="form-perfil-edit" method="POST">
                    <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                    <ul class="list-group list-group-flush">
                        <li style="color:#741f68" class="list-group-item"><span style="color: #e52bcb;">Nome: </span>
                            <input style="color:#741f68" value="<%= user.nome %>" type="text" class="form-control"
                                name="nome">
                        </li>
                        <li style="color:#741f68" class="list-group-item"><span style="color: #e52bcb;">Sobrenome:
                            </span>
                            <input style="color:#741f68" value="<%= user.sobrenome %>" type="text" class="form-control"
                                name="sobrenome">
                        </li>
                        <li style="color:#741f68" class="list-group-item"><span style="color: #e52bcb;">Idade:</span>
                            <input style="color:#741f68" value="<%= user.idade %>"   max="130" min="13" type="number" class="form-control"
                           name="idade">
                        </li>
                        <li style="color:#741f68" class="list-group-item"><span style="color: #e52bcb;">Sexo: </span>
                            <select style="color:#741f68" name="sexo" class="form-select"
                                aria-label="Default select example">
                                <option selected>Omitir</option>
                                <option value="1">Masculino</option>
                                <option value="2">Feminino</option>
                            </select>
                        </li>
                        <li class="list-group-item"><span style="color: #e52bcb;">E-mail: </span>
                            <input style="color:#741f68" value="<%= user.email %>" type="email" class="form-control"
                                name="email">
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-primary">Gravar</button>
                </form>
                <button type="button" class="btn btn-primary">Voltar</button>

            </div>
        </div>
        <%- include('includes/footer') %>